*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.wrap{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
}
body{
    background-image: url(../img/1617573903_25-p-polnostyu-chernii-fon-30.jpg);
    color: white;
}
.projecttitle{
    margin-top: 80px;
}
.projectItem {
    width: 300px;
    box-shadow: 0 0 10px #999;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
.burger a{
    width: 200px;
    height: 50px;
    display: flex;
    border: 2px solid #fff;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
.burger{
    display: none;
    width: 300px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.5s;
    padding-top: 50px;
    background-color: #111;
    align-items: center;
    padding-left: 50px;
}
.burger a:hover{
    background-color: gray;
}
.burgeractive{
    right: -300px;
    transition: 0.5s;
}
.burgerbutton{
    width: 40px;
    height: 23px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.burgerbutton div{
    height: 2px;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
}

.header img{
    width: 50px
}
.header a{
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 6px;
}
.header a:hover{
    background-color: #fff;
    color: #333;
    transition: 0.4s
}
.main{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    font-size: 29px;
    justify-content: flex-end;
}
.projectPhoto {
    width: 95%;
    height: 130px;
}
.projectPhoto img{
    width: 95%;
    height: 135px;
}

.projectDescription {
    margin: 20px 0;
    padding: 0 5px;
    color: white;
}

.btnGroup a {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    margin-top: 20px;
}
.btnGroup{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
    align-items: center;
    background-color: #111;
}
.header img{
    width: 50px
}
::-webkit-scrollbar{
    width: 15px;
    background-color: #555;
}
::-webkit-scrollbar-thumb{
    width: 15px;
    border-radius: 2px;
    background: green;
    background: white;
}
@media screen and (max-width:900px) {
    body{
        overflow-x: hidden;
    }
    .burger{
        display: block;
        z-index: 3;
    }
    .burgerbutton{
        display: flex !important;
        cursor: pointer;
    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .containner{
        padding: 0 50px;
    }
    .card{
        margin: 20px 0;
        width: 350px;
    }
    .header{
        height: 50px;
    }
    .header a{
        display: none;
    }
    .header input{
        display: none;
    }
    .header button{
        display: none;
    }
    .cursor{
        width: 50px;
        height: 22px;
    }
    .projectContainer{
        justify-content: space-around;
    }
}
@media screen and (max-width:400px) {
    body{
        overflow-x: hidden;
    }
    .burger{
        display: block;
        z-index: 3;
    }
    .burgerbutton{
        display: flex !important;
        cursor: pointer;
    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .containner{
        padding: 0 50px;
    }
    .card{
        margin: 20px 0;
        width: 350px;
    }
    .header{
        height: 50px;
    }
    .header a{
        display: none;
    }
    .header input{
        display: none;
    }
    .header button{
        display: none;
    }
    .cursor{
        width: 50px;
        height: 22px;
    }
}
@media screen and (max-width:300px) {
    body{
        overflow-x: hidden;
    }
    .burger{
        display: block;
        z-index: 3;
    }
    .burgerbutton{
        display: flex !important;
        cursor: pointer;
    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .containner{
        padding: 0 50px;
    }
    .card{
        margin: 20px 0;
        width: 350px;
    }
    .header{
        height: 50px;
    }
    .header a{
        display: none;
    }
    .header input{
        display: none;
    }
    .header button{
        display: none;
    }
    .cursor{
        width: 50px;
        height: 22px;
    }
}
@media screen and (max-width:200px) {
    body{
        overflow-x: hidden;
    }
    .burger{
        display: block;
        z-index: 3;
    }
    .burgerbutton{
        display: flex !important;
        cursor: pointer;
    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .containner{
        padding: 0 50px;
    }
    .card{
        margin: 20px 0;
        width: 350px;
    }
    .header{
        height: 50px;
    }
    .header a{
        display: none;
    }
    .header input{
        display: none;
    }
    .header button{
        display: none;
    }
    .cursor{
        width: 50px;
        height: 22px;
    }
}